
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
 
  :root {
    --second-color: #b9b9b9;
    --primary-color: #b5afaf;
    --black-color: #020101;
  }
  

  body {
    background-image: url("web.jpeg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
 
  .container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  

  .login-container {
    position: relative;
    backdrop-filter: blur(25px);
    width: 450px;
    border: 2px solid var(--primary-color);
    padding: 3.5rem 2.5rem 2rem 2.5rem; 
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: var(--second-color);
    background: rgba(0, 0, 0, 0.5); 
  }
  
  
  .login_title {
    position: absolute;
    left: 50%;
    top: -35px;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    background-color: var(--primary-color);
    border-radius: 0 0 20px 20px;
    height: 70px;
  }
  
  .login_title span {
    color: var(--black-color);
    font-size: 30px;
    font-weight: bold;
  }
  
 
  .login_title::before,
  .login_title::after {
    content: "";
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    background: transparent;
  }
  
  .login_title::before {
    left: -30px;
    border-top-right-radius: 50%;
    box-shadow: 15px 0 0 0 var(--primary-color);
  }
  
  .login_title::after {
    right: -30px;
    border-top-left-radius: 50%;
    box-shadow: -15px 0 0 0 var(--primary-color);
  }
  
 
  .input_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  
  .input_field {
    width: 100%;
    font-size: 16px;
    height: 55px;
    color: var(--second-color);
    background: transparent;
    padding-inline: 20px 54px;
    border-radius: 30px;
    border: 2px solid var(--primary-color);
    outline: none;
  }
  

  .label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--second-color);
    transition: 0.3s;
  }
  
  
  .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--second-color);
    font-size: 18px;
  }
  
  .input_field:focus + .label,
  .input_field:valid + .label {
    top: 10px;
    font-size: 12px;
    color: var(--primary-color);
  }
  
  .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: var(--second-color);
  }
  
  .divinputwrapper {
    text-align: center;
    margin-top: 20px;
  }
  
  .input-submit {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    color: var(--black-color);
    background-color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
  }
  
  .input-submit:hover {
    background-color: #9e9999;
  }
  
 
  .signup {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .signup a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup a:hover {
    text-decoration: underline;
  }